disnake
Python-dotenv
sqlalchemy
psycopg2-binary

discord.py
asyncio

# Database 
sqlalchemy
psycopg2-binary

# Environment vars
python-dotenv

# Styling
coloredlogs

# Linting
pylint
autoflake
autopep8
