hikari==2.0.0.dev120
git credential-cache --erase
git+https://github.com/blurpy/lightbulb.git@1.2.0b3
SQLAlchemy==1.4.41
python-dotenv==0.21.0

aiohttp==3.8.1
aiosqlite==0.17.0

pylint==2.15.0
autopep8==2.0.1

setuptools==65.5.0
wheel==0.37.1
